fastapi[standard]>=0.113.0,<0.114.0
pydantic>=2.7.0,<3.0.0
prometheus-fastapi-instrumentator==1.1.1

starlette>=0.40.0 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
